<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <form action="/listings" method="POST">
  <label>Title:</label>
  <input type="text" name="listing[title]" required><br>

  <label>Description:</label>
  <textarea name="listing[description]" required></textarea><br>

  <label>Price:</label>
  <input type="number" name="listing[price]" required><br>

  <label>Location:</label>
  <input type="text" name="listing[location]" required><br>

  <label>Image URL:</label>
  <input type="url" name="listing[image][url]" required><br>

  <label>Image Filename:</label>
  <input type="text" name="listing[image][filename]" required><br>

  <button type="submit">Create Listing</button>
</form>
 
</body>
</html>