<% layout("/layout/boilerplate") %>

<body>
  <div class="row">
    <div class="col-8 offset-2">
        <div class="mt-2">
            <h4 class="mt-3">Create a New Listing</h4>
          <p>Fill in the details below to create a new listing.</p>

        </div>
 <form action="/listings" method="POST" novalidate class="needs-validation">
  <div>
      <label for="title" class="form-label">Title:</label>
  <input type="text" name="listing[title]" class="form-control" required>
   <div class="invalid-feedback">
        Please enter a title.
      </div>
  </div>
<div>
  <label for="description" class="form-label">Description:</label>
  <textarea name="listing[description]" class="form-control" required></textarea>
  <div class="invalid-feedback">
        Please enter a description.
      </div>
</div>
<div class="row">
  <div class="col-md-4">
   <div>
      <label for="price" class="form-label">Price:</label>
  <input name="listing[price]" class="form-control" required>
      <div class="invalid-feedback">
        Please enter a price.
      </div>

    </div>
   </div>
 <div class="col-md-8">
     <div>
      <label for="country" class="form-label">Country:</label>
  <input type="text" name="listing[country]" class="form-control" required>
      <div class="invalid-feedback">
        Please enter a country.
      </div>

    </div>
  
  </div>
  </div>
 


<div>
  <label for="image-url" class="form-label">Image URL:</label>
  <input type="url" name="listing[image][url]" class="form-control" required>
  <div class="invalid-feedback">
        Please enter a valid image URL.
      </div>
</div>
<div>
  <label for="image-filename" class="form-label">Image Filename:</label>
  <input type="text" name="listing[image][filename]" class="form-control" required>
  <div class="invalid-feedback">
        Please enter an image filename.
      </div>
</div>

 <div>
    <label for="location" class="form-label">Location:</label>
  <input type="text" name="listing[location]" class="form-control" required>
      <div class="invalid-feedback">
        Please enter a location.
      </div>

    </div>
<div class="mt-3 mb-3">
  <button type="submit" class="btn btn-primary">Create Listing</button>

</div>
</form>
    </div>
  </div>
  
 
</body>
