<div class="f-info">
    <div class="f-info-social">
        <div class="f-info-links">
            <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
            <a href="#"><i class="fa-brands fa-twitter"></i></a>
            <a href="#"><i class="fa-brands fa-instagram"></i></a>
        </div>
    </div>
    <div class="f-info-brand">
        &copy; Airbnb Private Limited
    </div>
    <div class="f-info-links">
        <a href="#">Privacy of Use</a>
        <a href="#">Terms of Service</a>
    </div>
</div>