<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>new</title>
</head>
<body>
    <form action="/chats" method="POST">
        <input type="text" name="from" placeholder="From" required>
        <br> <br> <br>
        <input type="text" name="to" placeholder="To" required>
        <br> <br> <br>
        <textarea name="msg" placeholder="Message" required></textarea>
       <br> <br> <br>
        <button type="submit">Send</button>
    </form>
</body>
</html>